<footer class="footer-site">
	<div class="container">
		
		<div class="logo-gdg">
			<img src="assets/images/gdgbrasilia.png" alt="">
		</div>

	</div>
</footer>

<div class="credits">
	<span>Feito por</span>
	<a href="https://twitter.com/jgcaardoso" target="_blank">Jonas Guedes</a>
</div>

<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
<script src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script>
  $(document).ready(function() {
  	// script
  });


</script>