/*
	HEADER
*/

.bg-header {
	position: relative;
	z-index: 9;
	// background: url(http://assets.materialup.com/uploads/67494dfc-b528-40a2-8c97-124a74156c0b/2d-metaballs.gif) center;
	background: url(http://assets.materialup.com/uploads/9be46d25-b995-4b9f-a4b0-e21fbc5818e0/preview.gif) center;
	background-size: cover;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.header-site {
	position: absolute;
	width: 100%;
	height: 64px;
	color: white;
	background: rgba(92, 27, 192, 0);
	z-index: 9;
}

.name-site {
	margin-top: 22px;
	font-size: 1.4em;

	a {
		font-family: 'Roboto Mono', ;
		font-weight: 400;
		color: white;
		text-decoration: none;
	}
}



/*
 * MAIN_MENU
*/

.main-menu {
	ul {
		margin: 0;
		text-align: right;
		li {
			display: inline-block;
			margin: 0 8px;
			a {
				padding: 22px 0 16px 0;
				display: block;
				color: white;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 14px;
				font-family: 'Roboto Mono', ;
				letter-spacing: 0.5px;
				font-weight: 600;

				&:hover {
					border-bottom: 2px solid #fff;
				}
			}
		}
	}
}



/*
	HERO_PAGE
*/

.hero-site {
	background: rgba(92, 27, 192, 0.9);
	padding-top: 140px;
	padding-bottom: 50px;
	color: white;

	h1 {
		margin-top: 0;
		font-weight: 300;
		font-size: 42px;
		margin-bottom: 0;
	}

	p {
		position: relative;
		margin-bottom: 50px;
		max-width: 400px;

		&:after {
			position: absolute;
			width: 50px;
			height: 1px;
			content: "";
			background: white;
			bottom: - 20px;
			left: 0;
		}
	}
}

.content-hero-site {
	padding: 0 15px;
}

.date {
	font-size: 20px;
	font-weight: 300;
}



/*
 * TRACKS
*/


.content-tracks {
	position: relative;

	.mdl-cell {
		position: relative;
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		&:hover {
			z-index: 1;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		}
	}
}



.top-track {
	position: absolute;
	top: 25px;
	left: 25px;
	font-weight: 300;

	h3 {
		margin: 0;
		font-weight: 300;
	}
}

.bot-track {
	position: absolute;
	bottom: 25px;
	left: 25px;

	h6 {
		font-weight: 400;
		text-transform: uppercase;
		font-size: .9em;
	}
}

.img-track {
	padding: 100px 0;
	text-align: center;
	img {
		max-width: 300px;
		width: 100%;
	}
}

.track-android {
	background: #a4c639;
	a {
		color: white;
	}
}

.track-design {
	background: #FAFAFA;
	a {
		color: #333;
	}
}

.track-web {
	background: #FFD54F;
	a {
		color: #333;
	}
}

.track-innovation {
	background: #4285F4;
	a {
		color: #333;
	}
}



/*
 * CONTACT
*/

.contact-section {
	.mdl-grid {
		margin-top: 0;
		margin-bottom: 0;

		.mdl-cell {
			margin-top: 0;
		}
	}
}

.content-contact {
	padding: 100px 0;
	text-align: center;
	background: #FAFAFA;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	&:hover {
		z-index: 1;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}

	h3 {
		margin: 0;
		font-weight: 300;
		margin-bottom: 20px;
	}

	p {
		font-size: 16px;
		margin-bottom: 50px
	}
}

.logo-gdg {
	margin: 40px 0;
	text-align: center;
	img {
		max-width: 300px;
	}
}

.credits {
	margin: 5px 0;
	text-align: center;
}








